
@{
    Layout = null;
    ViewBag.Title = "franchisemail";
}

@*<h2>franchisemail</h2>*@


<p>Dear franchise,</p>
Thank you for being a part of IHUB Franchise Network
Kindly find the credentials for Store Module

<p>Username: <b>storeadmin@(ViewBag.StoreID)@@ihubstores.in</b></p>
<p> Password: <b>Admin.123</b></p>

<p>
    For Webmail: You can use the same login id and Password to view the emails.
    URL:<a href="https://webmail.logix.in/"> https://webmail.logix.in/ </a>
</p> 

  <p>
    IHUB wishes you ALL THE BEST
    For any Help and support reach out us at Mail id: webadmin@ihubstores.in
    Contact Us: 040-48542239
</p>

  <p> Regards,</p> 
    IHUB Multistores Pvt Ltd

