
@{
    Layout = null;
    ViewBag.Title = "storeasistance";
}

@*<h2>storeasistance</h2>

<p>For Store Assistants Mail</p>*@

<p>Dear Franchise,</p>
Please share the Store Assistant login credentials with store assistants and tell them not to share these credentials with anyone even to the other store assistant without your prior notice.

<p>For Store Assistant 1</p>
Username1: <b>store@(ViewBag.StoreID)_1@ihubstores.in</b><br />
Password: <b>Store.123</b>

<p>For Store Assistant 2</p>
Username1: <b>store@(ViewBag.StoreID)_2@ihubstores.in</b><br />
Password: <b>Store.123</b>

<p>Following is the link for Store Assistant app, which need to be shared with your store assistants. Message the apk file and tell them to download in their mobiles.</p>
Store Assistant APK file:  Store Assistant. apk<br />
Instructions to follow to install the Application:<br />
1.Download the apk file by clicking on it.<br />
2.Click on file to Install.<br />
3.if the downloaded file is not installed in your mobile.<br />
4.Goto Settings>>Security>>Unknown sources<br />
5.Click to allow and download.<br />
<p>Note: Instructions may vary Mobile to Mobile.</p>
<p>Login credentials of the store assistant app will be the same as given for the store module.<br /> 
    The store assistants can change Password in the Store Assistant app which will also be applicable in web.</p>
<p>For Help and support reach out us at Mail id: webadmin@ihubstores.in
Contact Us: 040-48542239</p>

<p>
    Regards,<br />
    IHUB Multistores Pvt Ltd
</p>



