
@{
    Layout = null;
    ViewBag.Title = "warehouseLowStock";
}



<p>    Hi All,<br/>

    Please find the enclosed attachment of Products below, which has reached low Stock Limit. Please Re-add the Stock.
</p>


<p>
    Thanks,<br />
    Ihub Multistores Pvt ltd.
</p>



