
@{
    ViewBag.Title = "franchise1";
    Layout = null;
}

<p>Hi ihub Team,</p>

<h2>Your Order Successfully completed</h2>
<h2>Order no:@(ViewBag.OrderID)</h2>

@*<p> We got a new franchise successfully registered with us. </p>
<p>below following are the emails to create and forward to respected franchise.</p>
<h3>Franchiese Logins:</h3>
<p>User Name: storeadmin@(ViewBag.OrderID)@@ihubstores.in</p>
<p>Password:Admin.123</p>
<h3>Store assistance Logins: </h3>
<p>UserName1: store@(ViewBag.StoreID)_1@ihubstores.in</p>
<p>Password: Store.123</p>
<p>UserName2: store@(ViewBag.StoreID)_2@ihubstores.in</p>
<p>Password: Store.123</p>*@


